<h1><%= @citation.title %></h1>

<p id="authors">
<b>Authors:</b><br />
  <% @citation.authors.each do |author| %>
    <%= link_to author.name, author %><br />
  <% end %>
</p> 

<p id="bibtex">
  <b>Bibtex:</b>
  <%= @citation.bibtex %>
</p>

<p id="citekey">
  <b>Citekey:</b>
  <%= @citation.citekey %>
</p>

<div id="tags"> Tags: 
<% @citation.tags.each do |tag| %>
  <span class="tag"><%= link_to tag.name, "/tags/#{tag.name}" %> (<%= Tagging.where("citation_id = ? AND tag_id = ?", @citation.id, tag.id).count %>)</span>
<% end %>
</div>

<%= form_for([@citation, Tag.new]) do |f| %>
  <%= render :partial => 'tags/form', :locals => { :f => f } %>
<% end %>

<p id="ref_links">
<b>Notes and highlights about this reference</b>
<ul>
  <% @citation.ref_links.each do |rl| %>
    <li><%= link_to rl.user.name, rl.url %></li>
  <% end %> 
</ul>
</p>


<%= link_to 'Edit', edit_citation_path(@citation) %> |
<%= link_to 'Back', citations_path %>
