
<p>
  <b>Bibtex:</b>
  <%= @citation.bibtex %>
</p>

<p>
  <b>Citekey:</b>
  <%= @citation.citekey %>
</p>

<div id="tags"> Tags: 
<% @citation.tags.each do |tag| %>
  <span class="tag"><%= link_to tag.name, "/tags/#{tag.name}" %> (<%= Tagging.where("citation_id = ? AND tag_id = ?", @citation.id, tag.id).count %>)</span>
<% end %>
</div>

<%= form_for([@citation, Tag.new]) do |f| %>
  <%= render :partial => 'tags/form', :locals => { :f => f } %>
<% end %>

<h3>Notes and highlights about this reference</h3>
<ul>
  <% @citation.ref_links.each do |rl| %>
    <li><%= link_to rl.user.email, rl.url %></li>
  <% end %> 
</ul>


<%= link_to 'Edit', edit_citation_path(@citation) %> |
<%= link_to 'Back', citations_path %>
