<%= form_for @scrobble, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Scrobble</legend>

    <div class="control-group">
      <%= f.label :user_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :user_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :citation_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :citation_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :hashkey, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :hashkey, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', scrobbles_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
