<h1>Scrobble</h1>

<p>
  <b>User</b><br>
  <%= @scrobble.user_id %>
</p>

<p>
  <b>Citation</b><br>
  <%= @scrobble.citation_id %>
</p>

<p>
  <b>Hashkey</b><br>
  <%= @scrobble.hashkey %>
</p>

<div class="form-actions">
  <%= link_to 'Back', scrobbles_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_scrobble_path(@scrobble), :class => 'btn' %>
  <%= link_to 'Delete', scrobble_path(@scrobble), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
