
<h2>API and other services</h2>

<h3>API</h3>

<p>Your API token is <%= current_user.authentication_token %></p>

<h3>Google Scholar bookmarklet</h3>

<p>Drag the following link to your bookmark toolbar. When you are on a list of results from Google Scholar, click the bookmark to add a link allowing you to import the citations. If the citation already exists, it will link to the citation page.</p>

<p><a href="javascript:if(/%5Eabout:/.test(location.href))location=%22http://bit.ly/zH9CBs%22;else(function(W,D,C,$,V,H,S,s,d)%7Bif(!($=W.jq171%7C%7CW.jQuery)%7C%7C(V=$.fn.jquery)%3C%221.3.2%22%7C%7CV%3E%221.7.1Z%22%7C%7CC($))%7BH=D.getElementsByTagName(%22head%22)%5B0%5D;S=D.createElement(%22script%22);S.type=%22text/javascript%22;S.src=%22http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js%22;S.onload=S.onreadystatechange=function()%7Bif(!d&&(!(s=this.readyState)%7C%7Cs==%22loaded%22%7C%7Cs==%22complete%22))%7Bd=1;W.jq171=$=W.jQuery.noConflict(1);C($);H.removeChild(S)%7D%7D;H.appendChild(S)%7D%7D)(window,document,function($)%7B$(%22.gs_r%22).each(function()%7Bvar%20c=$(this),a=c.find(%22.gs_fl%22).last(),d=a.html(),b=a.find('a:contains(%22BibTeX%22)').attr(%22href%22);$.get(b,function(b)%7Bvar%20e=b.match(/@%5Cw+%5C%7B(%5Cw+),/)%5B1%5D;$.ajax(%7Burl:%22http://stormy-leaf-9036.herokuapp.com/ref:%22+e,success:function()%7Ba.html(d+%22%20-%20%22).append('%3Ca%20href=%22http://stormy-leaf-9036.herokuapp.com/ref:'+e+'%22%3EView%20on%20scrobblr%3C/a%3E')%7D,error:function()%7Ba.html(d+%22%20-%20%22).append('%3Ca%20href=%22%23%22%20class=%22rs_import%22%3EImport%20into%20scrobblr%3C/a%3E');a.find(%22.rs_import%22).click(function()%7Bc.find('.gs_fl%20a:contains(%22%5BPDF%5D%22)').attr(%22href%22);var%20b=a.find('a:contains(%22BibTeX%22)').attr(%22href%22);$.get(b,function(a)%7B$.post(%22http://stormy-leaf-9036.herokuapp.com/citations/%22,%7Bbibtex:a,token:%22<%= current_user.authentication_token %>%22%7D,function()%7B%7D,%22json%22)%7D)%7D)%7D%7D)%7D)%7D);%7D);">Import citations</a></p>

<h3>Mendeley</h3>

<p><% if current_user.mendeley_token.nil? %>
  <%= link_to "Connect to Mendeley", '/users/auth/mendeley' %>
<% else %>
  You are connected to Mendeley. 
<% end %></p>


<h2>Edit <%= resource_name.to_s.humanize %></h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
