<div class="row">
  <div class="span3">
    <h1><%= @group.name %></h1>

    <p><%= @group.description %></p>

    <p>
    <% if current_user %>
      <% if current_user.member?(@group) %>
        You are a member of this group.
      <% else %>
        <%= form_for current_user.memberships.build(:group_id => @group.id) do |f| %>
          <%= f.hidden_field :group_id %>
          <%= f.submit "Join", :class => 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
    </p>

    <h3>Members</h3>
    <ul id="members">
      <% @group.users.each do |u| %>
        <li><%= link_to u.name, u %></li>
      <% end %>
    </ul>
  </div>

  <div class="span9">

    <div id="postings">
    <% if current_user.member?(@group) %>
      <% @group.postings.each do |p| %>
        <p>
          <%= p.content %><br />
          <% if p.citation %>
            <%= render :partial => 'citations/fancy_citation', :locals => { :citation => p.citation } %>
          <% end %>
          <div class="post-info">
            Posted by <%= link_to p.user.name, p.user %> <%= time_ago_in_words p.created_at %> ago<br>
          </div>
          <hr>
        </p>
      <% end %>
      <% if @group.postings.empty? %>
        <p>No activity in this group. Why don't you start something?</p>
      <% end %>
    <% else %>
      <p>Join this group to see what's going on.</p>
    <% end %>
    </div>

    <div class="row">
      <div class="span3">
        <h3>Post a citation</h3>
        <br />
        <%= form_for [@group, @group.postings.build], :html => { :class => 'form-horizontal' } do |f| %>
          <fieldset>
            <%= f.hidden_field :citation_id %>
            <div class="control-group">
              <label class="control-label" for="citation_title">Citation</label>
              <div class="controls">
                <%= autocomplete_field_tag 'citation_title', '', autocomplete_citation_title_citations_path, :id_element => '#posting_citation_id' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :content, "Comment", :class => "control-label" %>
              <div class="controls">
                <%= f.text_area :content, :class => 'input-xlarge', :rows => 3 %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.submit "Post", :class => 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

