<h1><%= @group.name %></h1>

<p>
<% if current_user.member?(@group) %>
  You are a member of this group.
<% else %>
  <%= link_to "Join now", "#" %>
<% end %>

<p><%= @group.description %></p>

<ul id="postings">
  <% @group.postings.each do |p| %>
    <li><%= p.user.name %>: <%= p.content %></li>
  <% end %>
</ul>


