
<div class="row">
  <div class="span8">
    <h1>Recent Activity</h1>
    <%= render @scrobbles %>
  </div>
  <div class="span4">
    <h1>Your library</h1>
    <h4>Recently added</h4>
    <ul id="recently-added-citations">
    <% @citations.each do |c| %>
      <li>
      <%= c %><br />
      <%= link_to "Citation page", c %>
      <% if rl = c.ref_links.find_by_user_id(current_user.id) %>
        <br /><%= link_to "Your link", rl.url %>
      <% end %>
      </li>
    <% end %>
    </ul>

    <h4>Recently read</h4>
    <ul id="recently-read-citation">
    <% @citations_read.each do |c| %>
      <li>
      <%= c %><br />
      <%= link_to "Citation page", c %>
      <% if rl = c.ref_links.find_by_user_id(current_user.id) %>
        <br /><%= link_to "Your link", rl.url %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>


