<!DOCTYPE html>
<html>
<head>
  <title>Rsrchr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Scrobblr', root_path, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            
          <li><%= link_to 'Groups', groups_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <p><%= notice %></p>
        <p><%= alert %></p>
      </div>
    </div>
    <div class="row">
      <div class="span12"><%= yield %></div>
    </div>
  </div>

</body>
</html>
